<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Pollinator Camera</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="vm">
    <!-- status bar -->
    <span
      :style="
        temperature < 60 ?
        {'background-color': 'lightcyan'} :
        {'background-color': 'tomato'}">
      Core Temperature: {{ Math.round(temperature) }}C
    </span>
    <span
      :style="disk_usage_style"> 
      Disk Used: {{ (100 * disk_usage.used / disk_usage.total).toFixed(2) + '%' }}
    </span>
    <input type="date" id="datesel" onchange="sync(this);"/>
    <!--
    <form>
      <label>
        Select day:
        <input type="date" onchange="sync(sel)"/>
      </label>
    </form>
    -->
    <!-- TODO date dropdown -->

    <!-- cameras -->
    <camera-view
      inline-template
      v-for="camera in cameras"
      :key="camera.name"
      v-bind="camera"
    >
      <div class="camera-view">
        <img
          v-if="active"
          :src="'/snapshot/' + name"
          style="width: 300px; float:left; border-color:lightcyan"
          border=5
        ></img>
        <img
          v-else
          :src="'/snapshot/' + name"
          style="width: 300px; float:left; border-color:tomato"
          border=5
        ></img>
        <div>IP address = {{ ip }}</div>
        <div>Name/MAC = {{ name }}</div>
        <div>Up for [{{ uptime_string }}]</div>
        <div>N Detections = {{ detections.length }}</div>
        <!-- TODO detections... -->
        <div style="clear:left"></div>
      </div>
    </camera-view>
  </div>

  <script>
    var sync = function(date_selector) {
      if (date_selector != undefined) {
        date_str = '/' + date_selector.value;
      } else {
        date_str = '';
      };
      console.log({sync: date_selector});
      vm = this;
      base = "http://" + window.location.host;
      fetch(base + '/cameras' + date_str).then(function(response) {
        if (response.status != 200) return;
        response.json().then(function(data) {
          vm.cameras = data;
        });
      });
      fetch(base + '/temperature').then(function(response) {
        if (response.status != 200) return;
        response.json().then(function(data) {
          vm.temperature = data;
        });
      });
      fetch(base + '/disk_usage').then(function(response) {
        if (response.status != 200) return;
        response.json().then(function(data) {
          vm.disk_usage = data;
        });
      });
    };

    Vue.component('camera-view', {
      props: ['ip', 'name', 'uptime', 'image', 'active', 'detections'],
      template: '<div class="camera-view"></div>',
      computed: {
        uptime_string: function() {
          denom = 1;
          unit = ' seconds';
          if (this.uptime >= 86400) {
            denom = 86400;
            unit = ' days';
          } else if (this.uptime >= 3600) {
            denom = 3600;
            unit = ' hours';
          } else if (this.uptime >= 60) {
            denom = 60;
            unit = ' minutes';
          };
          return Math.floor(this.uptime / denom) + unit;
        },
        disk_usage_style: function() {
          perc = Math.round(this.disk_usage.used / this.disk_usage.total);
          return {
            background: 'red',
          };
          return '{"background": linear-gradient(to right, tomato 0%, tomato ' + perc + '%, lightcyan ' + perc + '%, lightcyan 100%)}';
          return '{"background": linear-gradient(to right, tomato 0%, tomato ' + perc + '%, lightcyan ' + perc + '%, lightcyan 100%)}';
        },
      },
    });

    var vm = new Vue({
      el: '#vm',
      data: {
        cameras: {},
        temperature: -1.0,
        disk_usage: {
          total: -1,
          used: -1,
          free: -1,
        },
      },
      computed: {
        disk_usage_style: function() {
          perc = 100 * (this.disk_usage.used / this.disk_usage.total);
          return {
            display: 'inline-block',
            width: '250px',
            background: 'linear-gradient(to right, tomato 0%, tomato ' + perc + '%, lightcyan ' + perc + '%, lightcyan 100%)',
          };
          return '{"background": linear-gradient(to right, tomato 0%, tomato ' + perc + '%, lightcyan ' + perc + '%, lightcyan 100%)}';
          return '{"background": linear-gradient(to right, tomato 0%, tomato ' + perc + '%, lightcyan ' + perc + '%, lightcyan 100%)}';
        },
      },
      created: sync,
    })
  </script>
</body>
</html>
