<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Pollinator Camera</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="vm">
    <!-- status bar -->
    <!--<span>Temp:</span>-->
    <span
      :style="
        temperature < 60 ?
        {'background-color': 'lightcyan'} :
        {'background-color': 'tomato'}">
      Core Temperature: {{ Math.round(temperature) }}C
    </span>
    <!--
        :style="{'background': linear-gradient(tomato 0%, tomato {{ (100 * disk_usage.used / disk_usage.total) + '%' }}, lightcyan {{ (100 * disk_usage.used / disk_usage.total) + '%' }}, lightcyan 100%);}">  --> 
        <!--:style="{'background-color': disk_gradient; 'width': 300}"> -->
    <span
      :style="disk_usage_style"> 
      Disk Used: {{ (100 * disk_usage.used / disk_usage.total).toFixed(2) + '%' }}
    </span>
    <!--<span>Disk:</span>-->
    <!--
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 300 30"
      width=300
      height=30
    >
      <rect
        rx=4 ry=4 width=300 height=30
        style="fill:lightcyan;stroke:black;stroke-width:1" />
      <rect
        rx=4 ry=4 :width="300 * disk_usage.used / disk_usage.total" height=30
        style="fill:tomato" />
      <text
        x=5 y=20 fill="black">
        {{ (100 * disk_usage.used / disk_usage.total).toFixed(2) + '%' }}
      </text>
    </svg>
    -->
    <!-- TODO date dropdown -->

    <!--Disk_usage: Total {{ disk_usage.total }}, Used {{ disk_usage.used }}, Free {{ disk_usage.free }}-->

    <!-- cameras -->
    <camera-view
      inline-template
      v-for="camera in cameras"
      :key="camera.name"
      v-bind="camera"
    >
      <div class="camera-view">
        <!--<img v-bind:href="'http://' + window.location.host + '/snapshot/' + name"></img>-->
        <img
          v-if="active"
          :src="'/snapshot/' + name"
          style="width: 300px; float:left; border-color:lightcyan"
          border=5
        ></img>
        <img
          v-else
          :src="'/snapshot/' + name"
          style="width: 300px; float:left; border-color:tomato"
          border=5
        ></img>
        <!--<span>{{ ip }}:{{ name }}[{{ Math.floor(uptime) }}]</span>-->
        <div>IP address = {{ ip }}</div>
        <div>Name/MAC = {{ name }}</div>
        <div>Up for [{{ uptime_string }}]</div>
        <div>N Detections = {{ detections.length }}</div>
        <!-- TODO detections... -->
        <div style="clear:left"></div>
      </div>
    </camera-view>
    <!--
    <camera-view
      v-for="camera in cameras"
      v-bind:key="camera.name"
      v-bind:ip="camera.ip"
      v-bind:name="camera.name"
      v-bind:uptime="camera.uptime"
    ></camera-view>
    -->
      <!--
      <li v-for="camera in cameras">
        <span v-if="camera.active" style="color: green">Active</span>
        <span v-if="!camera.active" style="color: red">INACTIVE</span>
        {{ camera.ip }}:{{ camera.name }}[{{ Math.floor(camera.uptime) }}]
      </li>
      -->
  </div>

  <script>
    sync = function() {
      vm = this;
      base = "http://" + window.location.host;
      fetch(base + '/cameras').then(function(response) {
        if (response.status != 200) return;
        response.json().then(function(data) {
          vm.cameras = data;
        });
      });
      fetch(base + '/temperature').then(function(response) {
        if (response.status != 200) return;
        response.json().then(function(data) {
          vm.temperature = data;
        });
      });
      fetch(base + '/disk_usage').then(function(response) {
        if (response.status != 200) return;
        response.json().then(function(data) {
          vm.disk_usage = data;
        });
      });
    };

    Vue.component('camera-view', {
      props: ['ip', 'name', 'uptime', 'image', 'active', 'detections'],
      template: '<div class="camera-view"></div>',
      computed: {
        uptime_string: function() {
          denom = 1;
          unit = ' seconds';
          if (this.uptime >= 86400) {
            denom = 86400;
            unit = ' days';
          } else if (this.uptime >= 3600) {
            denom = 3600;
            unit = ' hours';
          } else if (this.uptime >= 60) {
            denom = 60;
            unit = ' minutes';
          };
          return Math.floor(this.uptime / denom) + unit;
        },
        disk_usage_style: function() {
          perc = Math.round(this.disk_usage.used / this.disk_usage.total);
          return {
            background: 'red',
          };
          return '{"background": linear-gradient(to right, tomato 0%, tomato ' + perc + '%, lightcyan ' + perc + '%, lightcyan 100%)}';
          return '{"background": linear-gradient(to right, tomato 0%, tomato ' + perc + '%, lightcyan ' + perc + '%, lightcyan 100%)}';
        },
      },
    });

    var vm = new Vue({
      el: '#vm',
      data: {
        cameras: {},
        temperature: -1.0,
        disk_usage: {
          total: -1,
          used: -1,
          free: -1,
        },
      },
      computed: {
        disk_usage_style: function() {
          perc = 100 * (this.disk_usage.used / this.disk_usage.total);
          return {
            display: 'inline-block',
            width: '250px',
            background: 'linear-gradient(to right, tomato 0%, tomato ' + perc + '%, lightcyan ' + perc + '%, lightcyan 100%)',
          };
          return '{"background": linear-gradient(to right, tomato 0%, tomato ' + perc + '%, lightcyan ' + perc + '%, lightcyan 100%)}';
          return '{"background": linear-gradient(to right, tomato 0%, tomato ' + perc + '%, lightcyan ' + perc + '%, lightcyan 100%)}';
        },
      },
      created: sync,
    })
  </script>
</body>
</html>
